body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#nav-toggle-state {
  display: none;
}

#nav-toggle-state:checked ~ .navbar-menu {
  display: block;
}

.submit-btn {
  margin: auto;
}

button.is-danger {
  background-color: #ff0000 !important;
}
.button.is-danger.is-outlined {
  background-color: transparent !important;
  border-color: #ff0000 !important;
  color: #ff0000 !important;
}
.has-text-danger {
  color: #ff0000 !important;
}
.help.is-danger {
  color: #ff0000 !important;
}
